<html>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section>
  <!--to do: make full width (ideal), AND set as background via css so we can overlay text, see ginger.io-->
<!-- <div class="container-fluid">
  <img alt="Siift.ly Logo" class="img-responsive text-center" src="modules/core/client/img/home/head.jpg"/>
</div> -->
<!-- Old Jumbotron-->
  <div class="jumbotron text-center" style="background-color:#fff">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="Siift.ly Logo" class="img-responsive text-center" src="modules/core/client/img/brand/SiiftLong.png"/>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Siift.ly - an idea journal that will change your life!
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="/authentication/signin" target="_self">Sign In</a>
        <a class="btn btn-success btn-lg" href="/authentication/signup" target="_self">Sign Up</a>
      </p>
    </div>
    &nbsp;
    <div class="row">
      <div class="col-md-3">
        <i class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></i>
        <h2>Siifts</h2>
        <p>We call our ideas Siifts.</p>
      </div>
      <div class="col-md-3">
        <i class="fa fa-tags fa-5x" aria-hidden="true"></i>
        <h2>Tagging</h2>
        <p>We offer world-leading tagging functionalities to empower you.</p>
      </div>
      <div class="col-md-3">
        <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
        <h2>Metadata</h2>
        <p>Whenever a Siift is added, we add our own metadata to the Siift, allowing you to get insights on how and where you Siift.</p>
      </div>
      <div class="col-md-3">
        <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>
        <h2>Siifting</h2>
        <p id="normal">Siifting is the process of analyzing through your Siifts. We can sort based on all the metadata and tags provided, as well as show key inisghts on how and where you Sifft.</p>
      </div>
    </div>
  </div>
  Siift.ly uses API services provided by Weather Underground and freegeoip.net.

  <!-- <div class="well">
    <h2>Maybe, one day, quotes will live in this place</h2>
    <p>
        Although quotes should maybe be moved up in the page<ul>
        <li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
        </li>
      </ul>
    </p>
  </div> -->
</section>
