<footer>
<!--Anything above here is outside the margins-->
<!--Adds copyright footer, dynamic year based on client system-->
  <section class="container">
          &copy; <span id="copyright-year"></span> Sifft
    <script>
        (function () {
            var copyright = new Date();
            $('#copyright-year').text(copyright.getFullYear());
        })();
    </script>
    &nbsp;
    &nbsp;
    <a href="/about">What to learn more about Sifft? Check out our About page!</a>
  </section>
  <!-- Anything here is outside of margins -->
  </footer>
