<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<section>
  <!--to do: make full width (ideal), AND set as background via css so we can overlay text, see ginger.io-->
<div class="container-fluid">
  <div class="hhbefore" style="background-image: url(modules/core/client/img/home/InspireLake.jpg);">
</div>
<script>
  $(document).ready(function(){
        $.getJSON("/api/quotes/getquote", function(result){
            $("quote").append(result);
        });
  });
</script>

  <div class="jumbotron text-center" style="background-color: #fff;">


    <i><quote class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12"></quote></i>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="Siift.ly Logo" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
        <a class="btn btn-primary btn-lg" href="/about" target="_self">Learn more</a>

      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
      </p>
    </div>
    <div class="row">
      <p>
      </p>
    </div>
  </div>

<!-- The below code should be in the about page only -->

  <!-- <div>
    <h2>Welcome to Sifft!</h2>
    <p>Siift is an idea jounral that will change your life!<p>
    <p>Providing a place to store your ideas is just part of our offering.</p>
    <ul>
      <li>
        Siift offers world-class tagging, allowing you to keep your Siifts organized.
      </li>
      <li>
        Configure your app to work with your social accounts, by editing the
        <em>/config/env/*.js</em> files.
      </li>
      <li>
        Edit your users module.
      </li>
      <li>
        Add new CRUD modules.
      </li>
      <li>
        Have fun...
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2>Siifts</h2>
      <p>We call our ideas Siifts.</p>
    </div>
    <div class="col-md-3">
      <h2>Tagging</h2>
      <p>We offer world-leading tagging functionalities to empower you.</p>
    </div>
    <div class="col-md-3">
      <h2>Metadata</h2>
      <p>Whenever a Siift is added, we add our own metadata to the Sifft, allowing you to get insights on how and where you Siift.</p>
    </div>
    <div class="col-md-3">
      <h2>Siifting</h2>
      <p>Siifting is the process of analyzing through your Siifts. We can sort based on all the metadata and tags provided, as well as show key inisghts on how and where you Sifft.</p>
    </div>
  </div> -->


  <!-- <div class="well">
    <h2>Maybe, one day, quotes will live in this place</h2>
    <p>
        Although quotes should maybe be moved up in the page<ul>
        <li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
        </li>
      </ul>
    </p>
  </div> -->
</section>
