<section>
  <div class="page-header">
    <h1>
      Siifts
      <a class="btn btn-primary pull-right" data-ui-sref="admin.siifts.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="siift in vm.siifts" data-ui-sref="admin.siifts.edit({siiftId: siift._id})" class="list-group-item">
      <div width=100% id="block_container">
      <div align=left>
      <small class="list-group-item-text" display="inline">
        Posted on
        <span data-ng-bind="siift.created | date:'mediumDate'"></span>
        by
        <span ng-if="siift.user" ng-bind="siift.user.displayName"></span>
        <span ng-if="!siift.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="siift.title"></h4>
      <!--Non functional line that supposedly should add tags to list view-->
       <p class="list-group-item-text" data-ng-bind="siift.tags"></p>
      <p class="list-group-item-text" data-ng-bind="siift.content"></p>
      </div>
      <div align=right>
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/11/Cheetah_Kruger.jpg" alt="Cheetah!" height=100px />
      </div>
    </div>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="siifts.$resolved && !siifts.length">
    No siifts yet, why don't you <a data-ui-sref="admin.siifts.create">create one</a>?
  </div>
</section>
