<section>
  <div class="page-header">
    <h1>
      Siifts
      <a class="btn btn-primary pull-right" data-ui-sref="admin.siifts.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="siift in vm.siifts" data-ui-sref="admin.siifts.edit({siiftId: siift._id})" class="list-group-item">
      <div class="pull-left">
        <small class="list-group-item-text" display="inline">
          Posted on
          <span data-ng-bind="siift.created | date:'mediumDate'"></span>
          by
          <span ng-if="siift.user" ng-bind="siift.user.displayName"></span>
          <span ng-if="!siift.user">Deleted User</span>
        </small>
        <h4 class="list-group-item-heading" data-ng-bind="siift.title"></h4>
        <p class="label label-warning" ng-repeat ="tags in siift.tags">
          {{tags}}
        </p>
        <p class="list-group-item-text" data-ng-bind="siift.content"></p>
      </div>
      <div id="map" class="pull-right">
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=47.263690,-122.483215&amp;zoom=10&amp;size=400x350&amp;sensor=false&amp;markers=47.263690,-122.483215&amp;scale=2&amp;key=AIzaSyAW30yH0mrXRwYMoF0_RAZsF5xBcIwlqBo" alt="Cheetah!" height=200px />
      </div>
      <div style="clear:both;"></div>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="siifts.$resolved && !siifts.length">
    No siifts yet, why don't you <a data-ui-sref="admin.siifts.create">create one</a>?
  </div>
  <!-- <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAW30yH0mrXRwYMoF0_RAZsF5xBcIwlqBo&callback=initMap">
    </script> -->
</section>
